# Created by .ignore support plugin (hsz.mobi)
.idea
/tool_data/bert-base-uncased/
/dataset/maven_sent_level/few_shot_test_data.jsonl
/dataset/maven_sent_level/few_shot_train_data.jsonl
/dataset/maven_sent_level/few_shot_val_data.jsonl
/dataset/maven_sent_level/sent_data.jsonl
/dataset/ace_sent_level/few_shot_test_data.jsonl
/dataset/ace_sent_level/few_shot_train_data.jsonl
/dataset/ace_sent_level/few_shot_val_data.jsonl
/dataset/ace_sent_level/sent_data.jsonl
/dataset/maven_sent_level/debug.log
/tool_data/glove.6B.50d.txt
/tool_data/glove.6B.50d.word2vec_gensim.txt
/dataset/maven_sent_level/trigger_visual/
/tool_data/glove.6B.300d.txt
/sample_out/
/analysis/Figure_main_trigger2type/
/dataset/maven_origin_data/valid.jsonl
/dataset/maven_origin_data/train.jsonl
/dataset/maven_origin_data/test.jsonl
/dataset/ace_processed_data/test_alldata.pth
/dataset/ace_processed_data/test_synonym_dict.pth
/dataset/ace_processed_data/train_alldata.pth
/dataset/ace_processed_data/train_synonym_dict.pth
/dataset/ace_processed_data/traintype2sentence_index.json
/dataset/ace_processed_data/val_alldata.pth
/dataset/ace_processed_data/val_synonym_dict.pth
/dataset/ace_processed_data/valtype2sentence_index.json
/dataset/wsdm_sent_level/few_shot_train_data.jsonl
/dataset/wsdm_sent_level/few_shot_test_data.jsonl
/dataset/wsdm_sent_level/few_shot_val_data.jsonl
/dataset/wsdm_sent_level/sent_data.jsonl
/dataset/wsdm_sent_level/type2lemma_num.json
/dataset/wsdm_sent_level/type2num.json
/models/Pair.py
/models/OurBeta.py
/result/process.py
/result/adv_train_maven_max.txt
/result/adv_train_maven_trigger.txt
/result/adv_train_max.txt
/result/adv_train_wsdm_max.txt
/result/adv_train_trigger.txt
/result/adv_train_wsdm_trigger.txt
/badcase/
/configs/OurBetaConfig.py
/configs/PairConfig.py
/tool_data/maven/test_classes.txt
/tool_data/maven/train_classes.txt
/tool_data/maven/val_classes.txt
